@import "tailwindcss";

@theme {
  --color-bg: #F5F4F1;
  --color-dark: #18181A;
  --color-primary: #211F1E;
  --color-muted: #8F8D8A;
  --color-brand: #3756F2;
  --color-border: #DBDBDB;

  --font-mono: 'Berkeley Mono', monospace;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('./fonts/BerkeleyMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('./fonts/BerkeleyMono-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('./fonts/BerkeleyMono-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('./fonts/BerkeleyMono-BoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

html, body, #root {
  height: 100%;
  width: 100%;
  background: var(--color-bg);
  color: var(--color-primary);
  font-family: 'Berkeley Mono', monospace;
}
