@import "tailwindcss";

@theme {
  --color-bg: #191717;
  --color-dark-gray: #313131;
  --color-gray: #B8B7B5;
  --color-light: #F6F8F7;
  --color-orange: #EC5C2A;
  --color-blue: #D6E4EA;

  --font-mono: 'Berkeley Mono', monospace;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('./fonts/BerkeleyMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('./fonts/BerkeleyMono-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('./fonts/BerkeleyMono-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('./fonts/BerkeleyMono-BoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

:root {
  /* Colors */
  --color-bg: #191717;
  --color-dark-gray: #313131;
  --color-gray: #B8B7B5;
  --color-light: #F6F8F7;
  --color-orange: #EC5C2A;
  --color-blue: #D6E4EA;

  /* Shadows (use sparingly, only when explicitly needed) */
  --shadow-ds-border: 0 0 0 1px rgba(0, 0, 0, 0.08);
  --shadow-ds-small: 0px 2px 2px rgba(0, 0, 0, 0.04);
  --shadow-ds-border-small:
    0 0 0 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.04);
  --shadow-ds-medium:
    0px 2px 2px rgba(0, 0, 0, 0.04), 0px 8px 8px -8px rgba(0, 0, 0, 0.04);
  --shadow-ds-border-medium:
    0 0 0 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.04),
    0px 8px 8px -8px rgba(0, 0, 0, 0.04);
  --shadow-ds-large:
    0px 2px 2px rgba(0, 0, 0, 0.04), 0px 8px 16px -4px rgba(0, 0, 0, 0.04);
  --shadow-ds-border-large:
    0 0 0 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.04),
    0px 8px 16px -4px rgba(0, 0, 0, 0.04);
  --shadow-ds-tooltip:
    0 0 0 1px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.02),
    0px 4px 8px rgba(0, 0, 0, 0.04);
  --shadow-ds-menu:
    0 0 0 1px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.02),
    0px 4px 8px -4px rgba(0, 0, 0, 0.04), 0px 16px 24px -8px rgba(0, 0, 0, 0.06);
  --shadow-ds-modal:
    0 0 0 1px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.02),
    0px 8px 16px -4px rgba(0, 0, 0, 0.04),
    0px 24px 32px -8px rgba(0, 0, 0, 0.06);
  --shadow-ds-fullscreen:
    0 0 0 1px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.02),
    0px 8px 16px -4px rgba(0, 0, 0, 0.04),
    0px 24px 32px -8px rgba(0, 0, 0, 0.06);
}

html, body, #root {
  height: 100%;
  width: 100%;
  background: var(--color-bg);
  color: var(--color-light);
  font-family: 'Berkeley Mono', monospace;
}
